/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

input,
button {
  outline: none;
}

.header-info {
  display: block;
  margin: 0 auto;
  width: 500px;
  text-align: right;
}

.header-info__img {
  width: 100%;
}

.header-info__link {
  font-family: fantasy, cursive;
}

.todo-app {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.add-item__input,
.list__item-task,
.list__item-label {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}

.add-item__wrapper {
  display: flex;
}

.todo-app__list {
  margin: 0;
  padding: 0;
}

.list__item, 
.todo-app__title {
  list-style: none;
}

.add-item__button,
.list__item-button {
  width: 60px;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add-item__button:hover,
.list__item-button:hover {
  color: #3a3A3a;
}

/* Heading */
.todo-app__title,
.add-item__label {
  margin: 0;
  padding: 30px 0 10px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.add-item__input,
.list__item-task {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.add-item__input:focus {
  color: #333;
}

/* New Task */
.add-item__label {
  display: block;
  margin: 0 0 20px;
}

.add-item__input {
  width: 318px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > * {
  vertical-align: middle;
}

.list__item-checkbox {
  margin: 0 10px;
}

.list__item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

li > input[type="text"] {
  width: 226px;
}

button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
    display: none;
}

.edit-task .list__item-task {
  display: inline-block;
  width: 224px;
}

.edit-task .list__item-label {
  display: none;
}

@media (max-width:768px) {
  .header-info { 
    text-align: center;
  }
}
